$font-name: "telexregular";
$font: $font-name, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
$monospace: "Fira Mono", monospace;
$label-font: $font-name, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
$time-font: "Ubuntu", monospace;

$background-color: #f9f9f9;

@mixin page {
  margin: 0 auto;
  @include min-screen(320px) { width: 300px; }
  @include min-screen(375px) { width: 350px; }
  @include min-screen(414px) { width: 400px; }
  @include min-screen(800px) { width: 750px; }
}

* { margin: 0; padding: 0; }
body { font-size: 14px; font-family: #{$font}; color: #555; background-color: $background-color; -webkit-font-smoothing: antialiased; }
ol, ul { list-style-position: inside; }
hr { width: 4em; border: none; border-top: 1px dashed #d0d0d0; border-bottom: 1px dashed #f9f9f9; }
.center { text-align: center; }
::selection { color: #fff; background-color: #333; }
a { text-decoration: none; color: #bb2222; &:hover { color: #dd1144; }; }
blockquote { background-color: #f2f2f2; padding: 0 1em; font-size: 13px; line-height: 1.6; display: block; overflow: auto; }
pre code { @extend blockquote; }
code { background-color: #f2f2f2; padding: .25em .5em; font-family: #{$monospace}; }
time { font-family: #{$time-font} }

header {
  @include page;
  text-align: justify;
  margin: 3em auto 0 auto;
  &:after { content: ''; width: 100%; display: inline-block; }

  #header {
    display: block;
    margin: 0 auto 1em auto;

    img {
      width: 88px;
      display: block;
      margin: 0 auto;
    }

    h1 {
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: 3em;
      font-family: #{$label-font};
    }
  }

  nav {
    display: inline-block;
    position: relative;
    top: 1em;
    span { margin-right: 1em; }
    a {
      font-family: #{$label-font}; color: #000;
    }
  }
}

#content {
  @include page;
  line-height: 2em;

  h1 {
    padding: 2em 0 1em 0;
  }

  img {
    max-width: 100%;
  }

  li ul { padding-left: 2em; }
  li blockquote { padding-top: .5em; padding-bottom: .5em; margin-bottom: 1em; }

  p.producthunt-link { padding-top: 2em; }
}

footer {
  @include page;
  display: block;
  color: #909090;
  font-family: #{$label-font};
  font-size: .9em;
  text-align: center;
  margin: 2em auto;
  a { color: #cccccc; &:hover { color: #999999; }; }
}
