<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ site.name }}</title>
    {% endif %}
    <link rel="stylesheet" href="/media/css/style.css">
  </head>
  <body>
      <div id="main" role="main">
        <header>
          <div id="header">
            <img class="header-icon" src="media/images/icon.png"></img>
            <h1>{{ site.name }}</h1>
          </div>
          <nav>
            {% for nav in site.navigations %}
            <span><a title="{{ nav.title }}" href="{{ nav.href }}">{{ nav.title }}</i></a></span>
            {% endfor %}
          </nav>
        </header>
        <div id="content">
        {{ content }}
        </div>
        <footer>
          <div>
            {% assign first_post = site.posts | last %}
            &copy; {{ first_post.date | date: "%Y" }} ~ {{ site.time | date: "%Y" }} {{ site.author }}</a>
          </div>
        </footer>
      </div> <!-- main -->
  </body>
</html>
